*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main .container {
    display: grid;
    grid-template-columns: repeat(4, 200px);
    grid-template-rows: repeat(4, 100px);
}

div { 
    border: 2px solid blue;
}
